In [25]:
import pandas as pd
import numpy as np
import json
import pprint

In [79]:
# read in the 10 percente set
df10 = pd.read_csv('./data/Iowa_Liquor_sales_sample_10pct.csv')

In [80]:
# try to read in the 100% set
df = pd.read_csv('./data/iowa_liquor_sales_proj_2.csv')

/home/greg/miniconda3/envs/ga/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## See if there is a difference between 100% and 10% datasets

In [134]:
### Find out what columns exist in the 100% dataset 
### that don't in the 10% dataset
# make colulmns into dictionary
df10_dict = { 'cols': [] }
for c in df10.columns.tolist():
    df10_dict['cols'].append(c)

df_dict = { 'cols': [] }
for c in df.columns.tolist():
    df_dict['cols'].append(c)
    
# make dict into dfs
df10_cols = pd.DataFrame(df10_dict)
df_cols = pd.DataFrame(df_dict)

# create a new column to hold the cols data, 
# so I can use set_index and retain a value col
df_cols['df_100_cols'] = df_cols['cols']
df10_cols['df_10_cols'] = df10_cols['cols']

# joining the 100% to the 10%
# df10_cols.join(df_cols.set_index('cols'), on='cols', how='outer', lsuffix='1', rsuffix='2')

# joining the 10% to the 100%
missing = df_cols.join(df10_cols.set_index('cols'), on='cols', how='outer', lsuffix='1', rsuffix='2')

#### Looks like we have 5 columns that are in the 100% dataset that aren't in the 10% dataset

In [145]:
missing[ missing['df_100_cols'].isnull() | missing['df_10_cols'].isnull() ].iloc[:,1:]['df_100_cols'].tolist()

['Invoice/Item Number',
 'Store Name',
 'Address',
 'Store Location',
 'Vendor Name',
 'Pack']

## Look into the data

In [9]:
len(df['Store Name'].unique().tolist())

1397

In [51]:
df['Store Location'].head().tolist()

['1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)',
 '900 E WASHINGTON\nCLARINDA 51632\n(40.739238, -95.02756)',
 '1414 48TH ST\nFORT MADISON 52627\n(40.624226, -91.373211)',
 '812 S 1ST AVE\nIOWA CITY 52240\n',
 '104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887, -92.579244)']

In [49]:
df.head(1).T

                                                                     0
Invoice/Item Number                                       S29198800001
Date                                                        11/20/2015
Store Number                                                      2191
Store Name                                              Keokuk Spirits
Address                                                      1013 MAIN
City                                                            KEOKUK
Zip Code                                                         52632
Store Location         1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)
County Number                                                       56
County                                                             Lee
Category                                                           NaN
Category Name                                                      NaN
Vendor Number                                                      255
Vendor Name                                        Wilson Daniels Ltd.
Item Number                                                        297
Item Description                                 Templeton Rye w/Flask
Pack                                                                 6
Bottle Volume (ml)                                                 750
State Bottle Cost                                               $18.09
State Bottle Retail                                             $27.14
Bottles Sold                                                         6
Sale (Dollars)                                                 $162.84
Volume Sold (Liters)                                               4.5
Volume Sold (Gallons)                                             1.19

In [45]:
with open('./data/data_dict.json', 'r') as f:
        data_dict_json = json.load(f)

data_dict = {'Column Title': [], 'Description': []}
for k in data_dict_json['columns'].keys():
    data_dict['Column Title'].append(data_dict_json['columns'][k]['name'])
    data_dict['Description'].append(data_dict_json['columns'][k]['description'])
data_desc = pd.DataFrame(data_dict)
data_desc

         Column Title                                        Description
0           BTL PRICE           The amount the store paid for the bottle
1                CITY                                      City of store
2             ZIPCODE                                   Zipcode of store
3                NAME                                      Name of store
4      STATE BTL COST  The amount that Alcoholic Beverages Division p...
5      STORE LOCATION                                  Location of store
6   CONVENIENCE STORE                Contains a "Y" if convenience store
7         DESCRIPTION                                   Item Description
8       CATEGORY NAME                       Category for the liquor type
9                PACK                    The number of bottles in a case
10      COUNTY NUMBER        Iowa county number where store is located\n
11              STORE                                       Store Number
12              TOTAL  The total amount of the sale (number of bottle...
13             COUNTY                    County where store is located\n
14          VENDOR NO  The vendor number of the company for this bran...
15               DATE                                      Date of order
16            ADDRESS                                   Address of store
17           CATEGORY                      Category code for liquor type
18             VENDOR  The vendor name of the company for this brand ...
19         LITER SIZE                        The metric size of a bottle
20         BOTTLE QTY         The number of bottles ordered by the store
21               ITEM                                        Item Number

In [21]:
pprint.pprint(data_dict)

{'columns': {'address': {'description': 'Address of store',
                         'fred': 'text',
                         'hideInTable': False,
                         'name': 'ADDRESS',
                         'physicalDatatype': 'text',
                         'position': 5},
             'bottle_qty': {'description': 'The number of bottles ordered by '
                                           'the store',
                            'fred': 'number',
                            'hideInTable': False,
                            'name': 'BOTTLE QTY',
                            'physicalDatatype': 'number',
                            'position': 21},
             'btl_price': {'description': 'The amount the store paid for the '
                                          'bottle',
                           'fred': 'money',
                           'hideInTable': False,
                           'name': 'BTL PRICE',
                           'physicalDatatype': 'money',
                           'position': 20},
             'category': {'description': 'Category code for liquor type',
                          'fred': 'text',
                          'hideInTable': False,
                          'name': 'CATEGORY',
                          'physicalDatatype': 'text',
                          'position': 11},
             'category_name': {'description': 'Category for the liquor type',
                               'fred': 'text',
                               'hideInTable': False,
                               'name': 'CATEGORY NAME',
                               'physicalDatatype': 'text',
                               'position': 12},
             'city': {'description': 'City of store',
                      'fred': 'text',
                      'hideInTable': False,
                      'name': 'CITY',
                      'physicalDatatype': 'text',
                      'position': 6},
             'convenience_store': {'description': 'Contains a "Y" if '
                                                  'convenience store',
                                   'fred': 'text',
                                   'hideInTable': False,
                                   'name': 'CONVENIENCE STORE',
                                   'physicalDatatype': 'text',
                                   'position': 2},
             'county': {'description': 'County where store is located\n',
                        'fred': 'text',
                        'hideInTable': False,
                        'name': 'COUNTY',
                        'physicalDatatype': 'text',
                        'position': 10},
             'county_number': {'description': 'Iowa county number where store '
                                              'is located\n',
                               'fred': 'text',
                               'hideInTable': False,
                               'name': 'COUNTY NUMBER',
                               'physicalDatatype': 'text',
                               'position': 9},
             'date': {'description': 'Date of order',
                      'fred': 'calendar_date',
                      'hideInTable': False,
                      'name': 'DATE',
                      'physicalDatatype': 'calendar_date',
                      'position': 1},
             'description': {'description': 'Item Description',
                             'fred': 'text',
                             'hideInTable': False,
                             'name': 'DESCRIPTION',
                             'physicalDatatype': 'text',
                             'position': 16},
             'item': {'description': 'Item Number',
                      'fred': 'text',
                      'hideInTable': False,
                      'name': 'ITEM',
                      'physicalDatatype': 'text',
                      'position': 15},
             'liter_size': {'description': 'The metric size of a bottle',
                            'fred': 'number',
                            'hideInTable': False,
                            'name': 'LITER SIZE',
                            'physicalDatatype': 'number',
                            'position': 18},
             'name': {'description': 'Name of store',
                      'fred': 'text',
                      'hideInTable': False,
                      'name': 'NAME',
                      'physicalDatatype': 'text',
                      'position': 4},
             'pack': {'description': 'The number of bottles in a case',
                      'fred': 'number',
                      'hideInTable': False,
                      'name': 'PACK',
                      'physicalDatatype': 'number',
                      'position': 17},
             'state_btl_cost': {'description': 'The amount that Alcoholic '
                                               'Beverages Division paid for '
                                               'the bottle',
                                'fred': 'money',
                                'hideInTable': False,
                                'name': 'STATE BTL COST',
                                'physicalDatatype': 'money',
                                'position': 19},
             'store': {'description': 'Store Number',
                       'fred': 'text',
                       'hideInTable': False,
                       'name': 'STORE',
                       'physicalDatatype': 'text',
                       'position': 3},
             'store_location': {'description': 'Location of store',
                                'fred': 'location',
                                'hideInTable': False,
                                'name': 'STORE LOCATION',
                                'physicalDatatype': 'location',
                                'position': 8},
             'total': {'description': 'The total amount of the sale (number of '
                                      'bottles multiplied by the bottle price)',
                       'fred': 'money',
                       'hideInTable': False,
                       'name': 'TOTAL',
                       'physicalDatatype': 'money',
                       'position': 22},
             'vendor': {'description': 'The vendor name of the company for '
                                       'this brand of liquor',
                        'fred': 'text',
                        'hideInTable': False,
                        'name': 'VENDOR',
                        'physicalDatatype': 'text',
                        'position': 14},
             'vendor_no': {'description': 'The vendor number of the company '
                                          'for this brand of liquor',
                           'fred': 'text',
                           'hideInTable': False,
                           'name': 'VENDOR NO',
                           'physicalDatatype': 'text',
                           'position': 13},
             'zipcode': {'description': 'Zipcode of store',
                         'fred': 'text',
                         'hideInTable': False,
                         'name': 'ZIPCODE',
                         'physicalDatatype': 'text',
                         'position': 7}},
 'description': 'This dataset contains the spirits purchase information of '
                'Iowa Class “E” liquor licensees by product and date of '
                'purchase from January 1, 2014 to current.  The dataset can be '
                'used to analyze total spirits sales in Iowa of individual '
                'products at the store level.',
 'domain': 'data.iowa.gov',
 'id': 'm3tr-qhgy',
 'name': 'Iowa Liquor Sales',
 'ownerId': 'phiz-mwit',
 'permissions': {'isPublic': True, 'rights': ['read']},
 'updatedAt': '2015-04-01T15:40:53.000Z'}